h1{
   font-size: 42px; 
   color:aqua;
}
.special{
    font-style:italic;
    font-weight: bold;
    color:greenyellow;
}
#modern{
    background-color:red;
}
p{
    font-size: 32pt;
}
ol{
    font-size: 24pt;
}