*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2em;
}
.site > *{
    background: lightblue;
    padding: 1em 1.5em;
    border: 2px solid black;
    border-radius: 1em;
}

.site{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    justify-content: center;
    align-content: center;

    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
}

header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
/*header, footer{
    grid-column: 1 / -1;
}*/